<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/main.js"></script>

<body>
<div id="main">
{% block main %}{% endblock %}<img src="http://farm4.static.flickr.com/3409/3339975701_73a6e779c2.jpg?v=0" align="center">
<p id="copyright">Copyright &copy; 2009 <a href="http://milan-sxm.appspot.com/" target="_blank">宋晓萌</a>, All Right Reserved. <a href="https://github.com/">下载源码</a>  Hosted by Google App Engine.<a href="/admin/">管理登陆</a></p>
</div>
</body>
</html>
